---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Abdessamad",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi, I’m Abdessamad, a computer science student at Al Akhawayn University. I currently live in Morocco working as a Freelance Software Engineer.
		</p>
		<p>
		In my spare time I make educational videos about Math and Computer Science. I’m always down for hearing about new projects, so feel free to drop me a line.
		</p>
		<p>Here are my some awesome projects I built:</p>
		<ul class="list-inside list-disc" role="list">
			<li>
				<a href="https://sustaineur.co">sustaineur.co</a>
			</li>
			<li>
				<a href="https://medicament.ma">medicament.ma</a>
			</li>
			<li>
				<a href="https://pharmacie.ma">pharmacie.ma</a>
			</li>
		</ul>
	</div>
</PageLayout>
